@model IEnumerable<Construccion.WEBUI.Models.IncidenciasViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <div class="card-header" style="background-color:#ffbd26">
                    <div class="text-center">
                        <img src="~/Content/images/ACROPOLIS-LOGO.png" width="200" />
                        <h3 style="color:black"><strong>Listado de Incidencias</strong></h3>
                    </div>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" onclick="AbrirModalCrearIncidencia()"><i class="fa fa-plus-square"></i> Nuevo</a>
                    <br />
                    <br />
                    <table class="table table-responsive table-report -mt-2" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.inci_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cons_Proyecto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.inci_Descripcion)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.inci_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cons_Proyecto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.inci_Descripcion)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new {    id=item.inci_Id }) |
                                        @Html.ActionLink("Eliminar", "Delete", new { id=item.inci_Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<partial name="_Create">
<script src="~/js/Incidencias/CreateIncidencias.js"></script>
