@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade bd-example-modal-lg" id="ModalAcceso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Permisos de Acceso de roles</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="LimpiarAcceso()"></button>
                <input type="text" name="name" value="" id="txtIdRol" hidden/>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="list-group" id="list-tab" role="tablist"><a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Generales</a><a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Construcción</a><a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Acceso</a></div>
                        </div>
                        <div class="col-sm-8">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                    <label>
                                        <input type="checkbox" id="7" class="checkbox-animated" value="7">
                                        Unidades de medida
                                    </label>
                                    <br>
                                    <label>
                                        <input type="checkbox" id="3" class="checkbox-animated" value="3">
                                        Cargos
                                    </label>
                                    <br>
                                </div>
                                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                    <label>
                                        <input type="checkbox" id="4" class="checkbox-animated" value="4">
                                        Clientes
                                    </label>
                                    <br>
                                    <label>
                                        <input type="checkbox" id="6" class="checkbox-animated" value="6">
                                        Construcciones
                                    </label>
                                    <br>
                                    <label>
                                        <input type="checkbox" id="8" class="checkbox-animated" value="8">
                                        Insumos
                                    </label>
                                    <br>
                                    <label>
                                        <input type="checkbox" id="5" class="checkbox-animated" value="5">
                                        Empleados
                                    </label>
                                </div>
                                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                                    <label>
                                        <input type="checkbox" id="2" class="checkbox-animated" value="2">
                                        Roles
                                    </label>
                                    <br>
                                    <label>
                                        <input type="checkbox" id="1" class="checkbox-animated" value="1">
                                        Usuarios
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal" onclick="LimpiarAcceso()">Cerrar</button>
                <button class="btn btn-secondary" type="button" id="btnAplicar">Aplicar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#1").click(function () {
        if (document.getElementById("1").checked) {
            var rol = $("#txtIdRol").val();
            var pant = $("#1").val();
            $.ajax({
                url: '@Url.Action("AgregarRol","Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarSuccessToast("Acceso Agregado correctamente");
                }
            });
        }
        else {
             var rol = $("#txtIdRol").val();
            var pant = $("#1").val();
            $.ajax({
                url: '@Url.Action("EliminarRol", "Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarWarningToast("Acceso eliminado correctamente");
                }
            });
        }
    });

      $("#2").click(function () {
        if (document.getElementById("2").checked) {
            var rol = $("#txtIdRol").val();
            var pant = $("#2").val();
            $.ajax({
                url: '@Url.Action("AgregarRol","Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarSuccessToast("Acceso Agregado correctamente");
                }
            });
        }
        else {
            var rol = $("#txtIdRol").val();
            var pant = $("#2").val();
            $.ajax({
                url: '@Url.Action("EliminarRol", "Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarWarningToast("Acceso eliminado correctamente");
                }
            });
        }
      });

      $("#3").click(function () {
        if (document.getElementById("3").checked) {
            var rol = $("#txtIdRol").val();
            var pant = $("#3").val();
            $.ajax({
                url: '@Url.Action("AgregarRol","Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarSuccessToast("Acceso Agregado correctamente");
                }
            });
        }
        else {
             var rol = $("#txtIdRol").val();
            var pant = $("#3").val();
            $.ajax({
                url: '@Url.Action("EliminarRol", "Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarWarningToast("Acceso eliminado correctamente");
                }
            });
        }
      });


    $("#4").click(function () {
        if (document.getElementById("4").checked) {
            var rol = $("#txtIdRol").val();
            var pant = $("#4").val();
            $.ajax({
                url: '@Url.Action("AgregarRol","Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarSuccessToast("Acceso Agregado correctamente");
                }
            });
        }
        else {
            var rol = $("#txtIdRol").val();
            var pant = $("#4").val();
            $.ajax({
                url: '@Url.Action("EliminarRol", "Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarWarningToast("Acceso eliminado correctamente");
                }
            });
        }
    });

    $("#5").click(function () {
        if (document.getElementById("5").checked) {
            var rol = $("#txtIdRol").val();
            var pant = $("#5").val();
            $.ajax({
                url: '@Url.Action("AgregarRol","Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarSuccessToast("Acceso Agregado correctamente");
                }
            });
        }
        else {
            var rol = $("#txtIdRol").val();
            var pant = $("#5").val();
            $.ajax({
                url: '@Url.Action("EliminarRol", "Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarWarningToast("Acceso eliminado correctamente");
                }
            });
        }
    });


    $("#6").click(function () {
        if (document.getElementById("6").checked) {
            var rol = $("#txtIdRol").val();
            var pant = $("#6").val();
            $.ajax({
                url: '@Url.Action("AgregarRol","Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarSuccessToast("Acceso Agregado correctamente");
                }
            });
        }
        else {
            var rol = $("#txtIdRol").val();
            var pant = $("#6").val();
            $.ajax({
                url: '@Url.Action("EliminarRol", "Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarWarningToast("Acceso eliminado correctamente");
                }
            });
        }
    });


     $("#7").click(function () {
        if (document.getElementById("7").checked) {
            var rol = $("#txtIdRol").val();
            var pant = $("#7").val();
            $.ajax({
                url: '@Url.Action("AgregarRol","Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarSuccessToast("Acceso Agregado correctamente");
                }
            });
        }
        else {
            var rol = $("#txtIdRol").val();
            var pant = $("#7").val();
            $.ajax({
                url: '@Url.Action("EliminarRol", "Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarWarningToast("Acceso eliminado correctamente");
                }
            });
        }
     });


     $("#8").click(function () {
        if (document.getElementById("8").checked) {
            var rol = $("#txtIdRol").val();
            var pant = $("#8").val();
            $.ajax({
                url: '@Url.Action("AgregarRol","Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarSuccessToast("Acceso Agregado correctamente");
                }
            });
        }
        else {
            var rol = $("#txtIdRol").val();
            var pant = $("#8").val();
            $.ajax({
                url: '@Url.Action("EliminarRol", "Roles")',
                method: "POST",
                data: { role_Id: rol, pant_Id: pant },
                success: function (data) {
                    mostrarWarningToast("Acceso eliminado correctamente");
                }
            });
        }
    });
</script>