@model IEnumerable<Construccion.API.Models.RolesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <button type="button" class="btn btn-outline-danger btn-block btn-lg" data-toggle="modal" id="onshowbtn"
            data-target="#onshow" >
        Crear
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.role_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role_Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.role_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.role_Nombre)
                </td>
                <td>
                    @*<a onclick="CargarDatos(@item.role_Id)" class="btn btn-warning" style="color:white;">Editar</a>*@
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_CrearRol" />
@{
    if (ViewBag.Mensaje != null && ViewBag.Mensaje != "")
    {

        string mensaje = ViewBag.Mensaje;
        <script>
            MostrarMensajeSuccess('@mensaje');
        </script>
    }
}
