@model IEnumerable<Construccion.WEBUI.Models.EmpleadosViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.empl_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empl_DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empl_Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carg_Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empl_DireccionExacta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empl_FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empl_CorreoEletronico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.empl_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empl_DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empl_Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carg_Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empl_DireccionExacta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empl_FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empl_CorreoEletronico)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
