
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cuba admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="/Content/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/Content/images/favicon.png" type="image/x-icon">
    <title>Cuba - Premium Admin Template</title>
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Content/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="/Content/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="/Content/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="/Content/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="/Content/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="/Content/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="/Content/css/style.css">
    <link id="color" rel="stylesheet" href="/Content/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="/Content/css/responsive.css">
</head>
<body>
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-12">
                    <div class="login-card">
                        <div>
                            <form action="ResetPassword" method="post">
                                <div><a class="logo" href="index.html"><img class="img-fluid for-light" src="/Content/images/logo/login.png" alt="looginpage"><img class="img-fluid for-dark" src="/Content/images/logo/logo_dark.png" alt="looginpage"></a></div>
                                <div class="login-main">
                                    <h4>Restablece tu contraseña</h4>
                                    <div class="form-group">
                                        @Html.ValidationMessage("ErrorSesion", new { @class = "text-danger", @style = "font-size:14px;" })
                                        <div class="form-group">
                                            <label class="col-form-label">Usuario @Html.ValidationMessage("ErrorSesion1", new { @class = "text-danger", @style = "font-size:14px;" })</label>
                                            <input type="text" id="txtUserRes" name="user_NombreUsuario" class="form-control mb-3" placeholder="Usuario" />

                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <label class="col-form-label">Contraseña @Html.ValidationMessage("ErrorSesion2", new { @class = "text-danger", @style = "font-size:14px;" })</label>
                                            <div class="form-input position-relative">
                                                <input type="password" id="txtPasswordRes" name="user_Contrasena" class="form-control mb-1" placeholder="Contraseña" />

                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-input position-relative">
                                            <label class="col-form-label">Nueva contraseña @Html.ValidationMessage("ErrorSesion3", new { @class = "text-danger", @style = "font-size:14px;" })</label>
                                            <input class="form-control mb-1" type="password" id="txtPasswordNewRes" name="NewPassword" placeholder="*********">

                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <label class="col-form-label">Confirmar contraseña @Html.ValidationMessage("ErrorSesion3", new { @class = "text-danger", @style = "font-size:14px;" })</label>
                                            <input class="form-control" type="password" id="txtPasswordConfirmRes" name="ConfirmPassword" placeholder="*********">

                                        </div>
                                        <br />
                                        <div class="form-group mb-0">
                                            <button class="btn btn-primary btn-block w-100" type="submit">Restablecer</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-wrapper Ends-->
    <!-- latest jquery-->
    <script src="/Content/js/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap js-->
    <script src="/Content/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="/Content/js/icons/feather-icon/feather.min.js"></script>
    <script src="/Content/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <!-- Sidebar jquery-->
    <script src="/Content/js/config.js"></script>
    <!-- Plugins JS start-->
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="/Content/js/script.js"></script>
    <!-- login js-->
    <!-- Plugin used-->
    @{
        if (ViewBag.ResX != "" && ViewBag.ResX != null)
        {
            string x1 = ViewBag.user;
            string x2 = ViewBag.contra;
            string x3 = ViewBag.newcontra;
            string x4 = ViewBag.contracon;
            <script>
            $("#txtUserRes").val('@x1');
            $("#txtPasswordRes").val('@x2');
            $("#txtPasswordNewRes").val('@x3');
            $("#txtPasswordConfirmRes").val('@x4');
            </script>

        }
        if (ViewBag.Error != "" && ViewBag.Error != null)
        {
            <script>
                MostrarMensajeDanger("Error al realizar la operación");
            </script>
        }
        if (ViewBag.Error2 != "" && ViewBag.Error2 != null)
        {
            <script>
                MostrarMensajeDanger("Error al realizar la operación");
            </script>
        }
        if (ViewBag.Res3 != "" && ViewBag.Res3 != null)
        {
            string x5 = ViewBag.user2;
            string x6 = ViewBag.contra2;
            string x7 = ViewBag.newcontra2;
            string x8 = ViewBag.contracon2;
            <script>
            $("#txtUserRes").val('@x5');
            $("#txtPasswordRes").val('@x6');
            $("#txtPasswordNewRes").val('@x7');
            $("#txtPasswordConfirmRes").val('@x8');
            </script>

        }
    }
</body>
</html>