@model IEnumerable<Construccion.WEBUI.Models.CargosViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <div class="card-header" style="background-color:#ffbd26">
                    <div class="text-center">
                        <img src="~/Content/images/ACROPOLIS-LOGO.png" width="200" />
                        <h3 style="color:black"><strong>Listado de Cargos</strong></h3>
                    </div>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateCargos"><i class="fa fa-plus-square"></i>  Nuevo</a>
                    <br />
                    <br />
                    <table class="table table-report -mt-2" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.carg_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.carg_Cargo)
                                </th>
                                <th>
                                    <div class="text-center">Editar</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.carg_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.carg_Cargo)
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditarCargo" onclick="Editar('@item.carg_Id,@item.carg_Cargo')"><i class="fa fa-edit"></i> Editar</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<br />
<partial name="_Create">
@Html.Partial("_Edit", new Construccion.WEBUI.Models.CargosViewModel())