@model IEnumerable<Construccion.WEBUI.Models.ClientesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <div class="card-header" style="background-color:#ffbd26">
                    <div class="text-center">
                        <img src="~/Content/images/ACROPOLIS-LOGO.png" width="200" />
                        <h3 style="color:black"><strong>Listado de Clientes</strong></h3>
                    </div>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" asp-action="Create">Nuevo</a>
                    <br />
                    <br />
                    <table class="table table-report -mt-2" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.clie_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.clie_Identificacion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.clie_Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.clie_DireccionExacta)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.clie_Telefono)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.clie_CorreoElectronico)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.clie_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.clie_Identificacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.clie_Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.clie_DireccionExacta)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.clie_Telefono)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.clie_CorreoElectronico)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" style="color: black" asp-action="Edit" asp-route-id="@item.clie_Id">
                                            <i class="icon-copy fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                                        </a>
                                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
