@model IEnumerable<Construccion.WEBUI.Models.InsumosViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <div class="card-header" style="background-color:#ffbd26">
                    <div class="text-center">
                        <img src="~/Content/images/ACROPOLIS-LOGO.png" width="200" />
                        <h3 style="color:black">
                            <strong>Listado de Insumos</strong>
                        </h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <a class="btn btn-primary" asp-action="Create">Nuevo</a>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="col-sm-3">
                            <a class="btn btn-primary" href="/CreatePDF/ReporteInsumos">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon">
                                        <span>
                                            <i data-feather="plus"></i>
                                        </span>
                                    </span>
                                    <span class="nav-link-text ps-1">Reporte</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.insm_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.insm_Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.unim_Descripcion)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.insm_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.insm_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.unim_Descripcion)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
