@model IEnumerable<Construccion.WEBUI.Models.InsumosViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <div class="card-header" style="background-color:#ffbd26">
                    <div class="text-center">
                        <img src="~/Content/images/ACROPOLIS-LOGO.png" width="200" />
                        <h3 style="color:black">
                            <strong>Listado de Insumos</strong>
                        </h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <a class="btn btn-primary" onclick="AbrirModalCrearInsumos()"><i class="fa fa-plus-square"></i> Nuevo</a>
                        </div>
                        <div class="col-sm-5">
                            <a class="btn btn-defaults" href="/CreatePDF/ReporteInsumos">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon">
                                        <span>
                                            <i class="fa fa-file-text"></i>
                                        </span>
                                    </span>
                                    <span class="nav-link-text ps-1">Reporte</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <br />
                    <br />
                    <table class="table table-report -mt-2" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.insm_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.insm_Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.unim_Descripcion)
                                </th>
                                <th>
                                    Editar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.insm_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.insm_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.unim_Descripcion)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditarCargo" onclick="Editar('@item.insm_Id,@item.insm_Descripcion')"><i class="fa fa-edit"></i> Editar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_Create" />
@Html.Partial("_Edit", new Construccion.WEBUI.Models.InsumosViewModel())
<script src="~/js/Insumos/CreateInsumos.js"></script>
